
#experiment {
  /****************************************************
   Important!!
   Width and height here need to correspond to the values set in html/setup/constants.js 
   ****************************************************/
  width: 900px;
  height: 700px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: auto;
}
#taskList{
    /* delete default counter */
    list-style-type: none;
    /* create custom counter and set it to 0 */
    counter-reset: elementcounter;
}

#taskList>li:before {
    /* print out "Element " followed by the current counter value */
    content: "Task " counter(elementcounter) ": ";
    /* increment counter */
    counter-increment: elementcounter;
}

.infoText{
    border-radius: 50%;
    min-width: 2rem;
    min-height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-container {
    position: relative;
}

.hover-target {
    position: relative;
    font-size: inherit;
}

.hover-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 70%;
    left: 5%;
    width: 75ch;
    margin: min(1rem, 20px);
    font-size: 1rem;
    background-color: #fff;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(115, 115, 115, 0.9);
    padding: 1.5em;
    z-index: 42;
    transform: scale(0);
    transition: transform 200ms ease;
    transform-origin: 8% -10px;
}

.hover-target:hover + .hover-popup,
.hover-target:focus + .hover-popup,
.hover-popup:hover{
    transform: scale(1);
}

.hover-popup :not(:first-child) {
    margin-top: 1rem;
}

.hover-popup span {
    color: rgb(200, 20, 0);
    font-weight: 700;
}

.hover-popup::before {
    /* This is the triangle/arrow */
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -10px;
}

.hover-popup::after {
    /* This is merely here to expand the hoverable area, as a buffer between the "Hover me" text and the popup. */
    content: '';
    position: absolute;
    top: -1rem;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.info:hover {
    background-color: white;
    padding: 0 0 0 5px;
    width: 315px;
    text-align: left !important;
}

.container {
    max-width: 90vw;
}

#loader {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: url('../img/loading.gif') 50% 50% no-repeat #E0E0E0;
}

noscript {
  /* z-index: 8000; */
  position: fixed;
  left: 25%;
  top: 25%;
  width: 50%;
  background-color: white;
  font-size: 18px;
  text-align: center;
}

#no-cookie-container, #reloader-container, #missing-parameter-container {
  /* z-index: 8000; */
  position: fixed;
  left: 12.5%;
  top: 15%;
  width: 75%;
  background-color: white;
  font-size: 18px;
  text-align: center;

}

#loader p {
  font-family: sans-serif;
  font-size: 22px;
  margin: 24%;
  text-align: center;
}

.wrong-message {
	padding: 10px;
}

.wrong-message h1 {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

.wrong-message p {
	font-size: 18px;
	text-align: center;
}

#zoom-message #zoom {
	font-size: 22px;
	text-align: center;
  padding: 10px;
}

#dimension-message #windowsize {
	display: block;
    margin: 0 auto;
}



.sorting_disabled{
    min-width: 145px;
    width: 7vw;
}

/* custom css for the image filter example */

body{
    width:90vw;
    margin: 20px auto 0 auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-top: 0.1em ;
    margin-bottom: 0.5em;
}
h1:after {
    content:' ';
    display:block;
    margin-top: 0.3em ;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}
li {
  margin: 10px 0;
}

#startButton{
    margin-top: 40px;
}

.buttonNext{
    margin: 1.5rem 0;
    height:50px;
}

.Image{
    width: 512px ;
    height: 384px;
}

.ImageExample{
    width: 256px;
    height:197px;
    margin-bottom: 1.5em ;
    float:left;
    position: relative; 
}

figure{
    display: inline-block;
    width: 256px;
}
figure img {
    vertical-align: center;
}
figure figcaption {
    text-align: center;
}

#ExampleBlock{
    display: inline-flex;
    margin: 0px auto;
}

.ScoreImage{
    width: 370px;
    height:203px;
    padding:5px;
    border:1px solid #cccccc;
    margin-bottom: 1em ;
    margin-top:1em;
}

#NextButton{
    position:relative;  
    width:100px;
    height:30px;
    margin: 1em auto ;
    left: -70px ;   /*Dirty, need to fix*/
}

#myProgress {
    width: 1050px;
    background-color: grey;
    align-self: flex-end;
    margin-top: 1em ;
    position: absolute;
}
.containerForSlider {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
}

.boxForSlider {
    max-width: calc(60vw - 800px);
    display: flex;
    width: 15vw;
    min-width:300px;
}
#slidersLabelsTask{
    max-width: calc(60vw - 800px);
    display: inline-block;
    width: 15vw;
    min-width:300px;
}
.breakForSlider{
    flex-basis: 100%;
    height: 0;
}
.ScaleBlock{
    /*margin-left: 0.1em;*/
    display: flex ;
    flex-direction: row ;
    height: 500px;    
    float: left;
    vertical-align: center ;
    position: relative ;
    width: 100%;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

#MainBlock{
    height: 384px;
    width: 1200px;
    display: flex ;
    flex-wrap: nowrap ;
    flex-direction: column ;
    height: 768px;
    width: 1600px;
    margin-top: 4em ;
}

.down-arrow {
     position: fixed;
     top: calc(100vh - 60px);
     left: calc(50% - 14px);
     width: 0;
     height: 30px;
     border: 2px solid;
     border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
 }

.down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
}
@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 20px;
    }
    100% {
        margin-top: 0;
    }
}

.ImageBlock{
    float: left;
    margin-right: 3em;
    position:relative;
    display:inline-block;
    text-align:center;
}

#ImageBlockExample{
    float: left;
    margin-right: 2.5em;
    position:relative;
    display:inline-block;
    text-align:center;
}

#InstructionText{
    width: 1050px ;
    margin:auto;
}

#FinalInstructions{
    margin-top: 40px;
}

.radioGroupRecognize label {
    display: inline-block;
    text-align: center;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.radioGroupRecognize label input[type="radio"] {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.radioGroupDifficult label {
    display: inline-block;
    text-align: center;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.radioGroupDifficult label input[type="radio"] {
    margin-left: 0.25em;
    margin-right: 0.25em;
}


#left_label{
    text-align: right;
    padding-right: 0.5em;
}

#right_label{
    text-align: left;
    padding-left: 0.5em;
}

#radio1d{
    margin-right: -0.2em;
    margin-left: 2em;
    
}

#radio9d{
    margin-left: -0.2em;
    margin-right: 2.5em;
    padding-left: 1em;
}

#radio1r{
    margin-right: -0.2em;
    margin-left: 2em;
    
}

#radio9r{
    margin-left: -0.2em;
    margin-right: 2.5em;
    padding-left: 1em;
}

.button-div{
  padding-top: 15px;
  clear: both;
}

span.clear { clear: left; display: block; }



